form {
 display: flex;
align-items: center;
gap: 8px;
width: 100px;
margin-left: 200px;
}
label{
    color: var(--Dark, #2A2941);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Circular Std;
font-size: 14px;
font-style: normal;
font-weight: 450;
line-height: normal;
}
input {
margin-bottom: 40px;
}
